%meta{:name => 'viewport', :content => 'maximum-scale=1.0'}
%meta{:name => 'description', :content => @description}
%meta{:name => 'keywords', :content => @keywords}
%title= @title
= favicon_link_tag 'favicon.ico' 
= stylesheet_link_tag 'application', media: 'all'
= javascript_include_tag 'application'
- for js_file in (@js_files || []) do
  = javascript_include_tag js_file