.span3
  .logo
    = link_to image_tag(asset_path("logo_transparent_small.png")), root_path
.span2
  = render "shared/categories", categories: left_categories, active_category: @category
.span2
  = render "shared/categories", categories: right_categories, active_category: @category
.span3
  .search_field.jq_search_field
    = form_tag search_posts_path, method: :get, remote: true do
      = text_field_tag :search, params[:search], placeholder: "Search"
.span2
  .links
    = link_to "Imprint", imprint_path
    &nbsp; &nbsp;
    = link_to "About Us", about_path
.span3.offset2
  .social.hidden-phone
    = link_to "//plus.google.com/107164891691789022022?prsrc=3", rel: "publisher", style: "text-decoration: none;", target: '_blank' do
      = image_tag "//ssl.gstatic.com/images/icons/gplus-64.png", alt: "Google+", style: "border:0;width:34px;height:34px;margin-right:5px;margin-top:2px"
    = link_to_blank image_tag('misc/twitter.png'), 'https://twitter.com/#!/Like_a_bouse'
    = link_to_blank image_tag('misc/facebook.png'), 'https://www.facebook.com/pages/Likeabouse/258771540888972', target: '_blank'
    = link_to_blank image_tag('misc/rss.png', class: "rss"), feed_url, target: '_blank'