.row
  .span2
  .span2
    %h3= image_tag('photos/marko.png', class: "img-circle")
  .span3
    %h2 Marko Hielscher
    %h4 Software Engineer
    %p From Hamburg, Germany
    %p= link_to "Follow me on Twitter", "https://twitter.com/MarkoHiel", target: "_blank"
    %p= link_to "Find me on XING", "http://www.xing.com/profile/Marko_Hielscher", target: "_blank"

  .span2
    %p= image_tag('photos/angelo.jpg', class: "img-circle")
  .span3
    %h2 Angelo Maron
    %h4 Software Engineer
    %p From Hamburg, Germany
    %p= link_to "Follow me on Twitter", "https://twitter.com/mrraffnix", target: "_blank"
    %p= link_to "Find me on XING", "http://www.xing.com/profile/Angelo_Maron", target: "_blank"
