.span6
  %h2 Marko Hielscher
  %h4 Software Engineer
  %p From Hamburg, Germany
  %p= link_to "Follow me on Twitter", "https://twitter.com/MarkoHiel"
  %p= link_to "Find me on XING", "http://www.xing.com/profile/Marko_Hielscher"
  %h3= image_tag('photos/marko.png')

.span6
  %h2 Angelo Maron
  %h4 Software Engineer
  %p From Hamburg, Germany
  %p= link_to "Follow me on Twitter", "https://twitter.com/mrraffnix"
  %p= link_to "Find me on XING", "http://www.xing.com/profile/Angelo_Maron"
  %p= image_tag('photos/angelo.jpg')