.post.jq-post-box{id: dom_id(post), data: {post: post_to_json(post)}}
  .post_headline
    %div{class: post_css_class(post)}= "NEW"
    .name= link_to_post post
    .date= datetime_string(post.created_at)
  %hr
  .post_body 
    .description= post.description
    .link= link_to_post_link post