#category
  %h1= @category.name
  %p= @category.description
  - if @posts.empty?
    %p No Posts for this category
  - else
    .pagination= paginate(@posts)
    .list= render partial: "categories/posts", object: @posts
    .pagination= paginate(@posts)