!!!
%html
  %head
    %meta{:name => 'viewport', :content => 'maximum-scale=1.0'}
    %meta{:name => 'description', :content => 'Short descriptions and links for novice to experienced web developers'}
    %meta{:name => 'keywords', :content => 'ruby, ruby on rails, rails, gems, javascript, css, links, programming, agile, testing'}
    %title= @title
    = favicon_link_tag 'favicon.ico' 
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
  %body
    %header
      = render :partial => "shared/header"
    #bodyer
      .o
        .c3.l.side_menu
          = render :partial => "shared/side_navigation"
        .c21.lr.content
          = yield
    %footer
      = render :partial => "shared/footer"
    = render :partial => "shared/javascript"