!!!
%html
  %head
    = render "shared/head"
  %body
    .container-fluid
      .row-fluid
        #header
          = render "shared/header"
      .row-fluid
        #bodyer
          #focus.js-focus
            = yield :focus
          #content.js-posts.js-category
            = yield
    = render "shared/develop"
    = render "shared/javascript"