!!!
%html
  %head
    = render "shared/head"
  %body
    .container-fluid
      .row-fluid
        #header
          = render "shared/header"
      .row-fluid
        #bodyer
          #focus.jq_focus
            = yield :focus
          #content.jq_posts
            = yield
    -# render "shared/develop"
    = render "shared/javascript"
