!!!
%html
  %head
    = render partial: "shared/head"
  %body
    .container-fluid
      .row-fluid
        #header
          = render partial: "shared/header"
      = yield
      .row-fluid
        %footer
          = render partial: "shared/footer"
    = render partial: "shared/javascript"