!!!
%html{class: "no-js"}
  %head
    = render partial: "shared/head"
  %body
    %header
      = render partial: "shared/header"
    #bodyer
      .o
        = yield
    %footer
      = render partial: "shared/footer"
    = render partial: "shared/javascript"