!!!
%html{class: "no-js"}
  %head
    = render partial: "shared/head"
  %body
    %header
      = render :partial => "shared/header"
    #bodyer
      .o
        .c24
          #tabs.ui-tabs
            = render partial: "shared/tabs", locals: { categories: (@categories || Category.to_show) }
            = yield
    %footer
      = render partial: "shared/footer"
    = render partial: "shared/javascript"
